/* Content */
#content {
    padding-top: 80px;
    padding-bottom: 80px;
}

.orange {
    background-color: #ffe4bc;
    color: #ffab32;
}

.green {
    background-color: #d1f2a5;
    color: #0076ce;
}

.blue {
    background-color: #b3e5fc;
    color: #0076ce;
}

#introSquare {
    width: 100%;
    justify-content: end;
    line-height: 30px;
    margin-bottom: 80px;
}

#introSquare div {
    max-width: 320px;
    font-weight: bolder;

    border-radius: 8px;
    padding: 30px;
}

#masonry {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 800px;
    justify-content: center;
    align-content: center;
}


.square {
    vertical-align: middle;
    align-content: center;
    text-align: center;
    margin: 10px;
    border-radius: 8px;
    padding: 30px;
    height: 150px;
    width: 150px;
    /* background-color: aliceblue; */
}

.article {
    margin: 10px;
    padding: 30px;
    height: 360px;
    width: 150px;

    background-color: gainsboro;
    border-radius: 15px 15px 15px 15px;
}

.article .description {
    padding-top: 20px;
}

.article .top {
    height: 150px;
    width: 150px;
    padding: 30px;
    margin: -30px 0px 0px -30px;
    background-color: gray;
    border-radius: 15px 15px 0px 0px;
}

#secondColumn {
    margin-top: 100px;
}

#thirdColumn {
    margin-top: 50px;
}

@media (max-width: 830px) {
    #masonry {
        max-height: 1400px;
    }

    #secondColumn {
        margin-top: 0px;
    }

    #thirdColumn {
        margin-top: 10px;
    }
}

@media (max-width: 560px) {
    #masonry {
        max-height: 2000px;
    }
}