/* Content */
#content {
    padding-top: 80px;
    padding-bottom: 80px;
}

.orange {
    background-color: #ffe4bc;
    color: #ffab32;
}

#introSquare {
    width: 100%;
    justify-content: end;
    line-height: 30px;
    margin-bottom: 80px;
}

#introSquare div {
    max-width: 320px;
    font-weight: bolder;

    border-radius: 8px;
    padding: 30px;
}

#masonry {
    column-count: 3;
    column-gap: 16px;
}

#masonry div {
    display: inline-block;
    /* max-width: 100%; */
    margin-bottom: 16px;
}

.square {
    border-radius: 8px;
    padding: 30px;
    width: 250px;
    height: 250px;

    background-color: aliceblue;
}

.article {
    border-radius: 15px;
    padding: 10px;

    background-color: lightgray;
}

@media (max-width: 910px) {
    #masonry {
        column-count: 2;
    }
}

@media (max-width: 700px) {
    #masonry {
        column-count: 1;
    }
}